* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: var(--branco);
}

:root {
    --branco: rgb( 203, 197, 181);
    --cinza-escuro: rgb(49, 43, 43);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    font-size: x-large;
    background: linear-gradient(rgba(111, 114, 117, 0.8), rgba(41, 42, 43, 0.8)100%);
}

header h1 {
    margin-left: 50px;
}

header div {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    width: 200px;
}

header button {
    border: none;
    background: none;
    width: 90px;
    font-size: x-large;
}

header button:hover {
    cursor: pointer;
    background-color: var(--cinza-escuro);
}

header a {
    padding: 0 30px;
    font-size: x-large;
}

header a:hover {
    cursor: pointer;
    background-color: var(--cinza-escuro);
}