* {
    padding: 0;
    margin: 0;
}

:root {
    --branco: rgb( 203, 197, 181);
    --cinza-escuro: rgb(49, 43, 43);
}

.page-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(111, 114, 117, 0.8), rgba(41, 42, 43, 0.8)100%);

    position: absolute;
    width: 100%;
    height: 100%;
}

.page-form {
    background: linear-gradient(rgba(111, 114, 117, 0.8), rgba(41, 42, 43, 0.8)100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);;

    margin-bottom: 50px;
    margin-left: 50px;

    padding: 10px;
    
    width: 300px;
    height: 450px;
}

.page-form img {
    width: 150px;
    height: 50px;
    margin: 50px;
}

.page-form input, select, option {
    width: 250px;
    height: 30px;
    margin-bottom: 50px;
    color: black;
    text-align: center;
}

.page-form div {
    display: flex;
    flex-direction: column;
}

.page-form div button {
    background: none;
    border: none;

    font-size: large;
    cursor: pointer;

    width: 250px;
    height: 30px;

    margin-bottom: 20px;
}

.page-form div button:hover {
    background-color: var(--cinza-escuro);
}